
@media only screen and (max-width: 780px) {
  body {
    margin: 0;
  }

  nav {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
  }

  .nav-h3 {
    margin-left: 15px;
  }

  .intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .intro-wrappers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #172b4d;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700px;
    margin: 0;
  }

  .intro-wrappers1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(14, 158, 14);
    font-size: 40px;
    margin: 0;
  }
}

.intro-wrapper-p {
  width: 327px;
  height: 164px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  order: 0;
  flex-grow: 0;
}

.intro-wrapper-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
}

.intro-wrapper-ul-li {
  margin: 5px 10px;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

.w-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.works-ul {
  list-style: none;
  width: 90%;
  margin: 0;
}

.list-item {
  list-style: none;
  width: 90%;
  margin: 15px 0;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 5px;
}

.top-notch {
  width: 100%;
  border-radius: 8px 8px 0 0;
  margin-top: 200px;
  background-color: white;
}

.top-notch-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-notch-content-ul {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 0;
  list-style: none;
}

.top-notch-content-ul-li {
  font-size: 15px;
  border-radius: 5px;
  border: 0 solid #ebf0ee;
  background-color: #ebf0ee;
  padding: 5px 10px;
}

.top-notch-content-a {
  font-size: 15px;
  background: #36b37f;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-section-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-section-p {
  width: 351px;
  height: 189px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.resume {
  background-color: #36b37f;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.lang-frame {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.lang-item {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 5px;
  border: 1px solid #d0d9d4;
  border-radius: 5px;
  background-color: #ebf0ee;
}

.lang-img {
  margin: 0;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.languages-li {
  background-color: white;
  padding: 8px;
  margin: 5px;
  color: #36b37e;
  font-size: 15px;
  border-radius: 5px;
}

.lang-item h3 {
  width: 337px;
  height: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact p {
  text-align: center;
  width: 81%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

input {
  width: 80%;
  padding: 17px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #d0d9d4;
}

textarea {
  width: 80%;
  padding: 17px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #d0d9d4;
}

.last-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
}

.last-contact-li {
  margin: 5px 10px;
}

.mail-field {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  text-decoration: none;
}

.form-group {
  margin-top: 160px;
  width: 40%;
  height: 5px;
  border-radius: 5px;
  background: black;
}
